<div class="navbar">
  <a routerLink="/" class="brand vegas-neon">

    <span>🎰 VEGAS CASINO</span>
    <small>Virtual credits • Firestore Wallet</small>
  </a>

  <div class="links" *ngIf="(user$ | async) as u; else loggedOut">
    <a class="navLink" routerLink="/blackjack">🂡 Blackjack</a>
    <a class="navLink" routerLink="/slots">🎰 Slot 5x4</a>
    <a class="navLink" routerLink="/roulette">🎡 Roulette</a>
    <a class="navLink" routerLink="/scratch">🎫 Gratta e Vinci</a>
    <a class="navLink" routerLink="/f1">🏁 F1</a>
    <a class="navLink" routerLink="/wallet">💰 Wallet</a>

    <span class="wallet">Crediti: <b>{{ credits$ | async }}</b></span>
    <button class="vegas-btn danger" (click)="logout()">LOGOUT</button>
  </div>

  <ng-template #loggedOut>
    <a class="navLink" routerLink="/login">LOGIN</a>
  </ng-template>
</div>
